<div id="head">
  <span>
  <a href="http://www.lucidimagination.com/Downloads/LucidWorks-for-Solr"><img src="http://localhost:8983/solr/admin/lucidworks.jpg"/></a>
    <a href="http://www.data.gov"><img src="http://www.data.gov/images/logo.gif"/></a>
  </span>
</div>
<hr/>